<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000534795732-h51g02hpo25lutd9ame3eftudlncg8rb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000534795732-h51g02hpo25lutd9ame3eftudlncg8rb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1000534795732-fqg2u94bqpqn77f5laerq66d8voh70kb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuNIqllFEgXFG_EuW_7A7hTtexNJTOVXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1000534795732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mhsapp</string>
	<key>PROJECT_ID</key>
	<string>mhs-app-a1568</string>
	<key>STORAGE_BUCKET</key>
	<string>mhs-app-a1568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000534795732:ios:88487c4cffc7e74cd26241</string>
</dict>
</plist>